@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* hijau = #00541A
hitam = #000000
kuning = #F7E652
cream = #FEF9D9 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.bodyLog {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../aset/bg_logg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapperLog{
    width: 420px;
    background:transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(7px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #00541A;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapperLog h1{
    font-size: 36px;
    text-align: center;
    
}

.wrapperLog .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box {
    position: relative; /* tambahkan posisi relatif */
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: calc(100% - 40px);   
    height: 100%;
    background: #FEF9D9;
    border: none;
    outline: none;
    border: 2px solid rgba(0, 84, 26, 0.8);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #00541A;
}

.input-box i {
    position: absolute;
    right: 10px; /* Atur posisi ikon di sisi kanan */
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #00541A;
}

.wrapperLog .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: white;
    margin-right: 30px;
}

.remember-forgot a {
    color:  white;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapperLog .btnLog {
    width: 100%;
    height: 45px;
    background: #FEF9D9;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #00541A;
    font-weight: 600;
}

.wrapperLog .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
   

}
.wrapperLog .register-link p a{
    color: #00541A;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.error{
    padding:20px;
    background-color:#FEF9D9;
    color:#00541A;
    margin-bottom:15px;
}
.sukses{
    padding:20px;
    background-color:#00541A;
    color: #000;
    margin-bottom:15px;
}